body > div {
  width: 960px;
  margin: auto;
}

body > div > section:nth-child(1) {
  width: 600px;
  float: left;
}

body > div > section:nth-child(2) {
  width: 360px;
  float: left;
}

body > div > section:nth-child(2) p:first-of-type {
  width: 320px;
  margin: 0 20px;
}

body > div > section:nth-child(1) p:nth-of-type(1),
body > div > section:nth-child(1) p:nth-of-type(2) {
  float: left;
  margin: 0 5px;
  width: 290px;
}