!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Pig Latin
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/qunit-theme-gabe.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body

    %input#original{type: 'text', placeholder: 'enter the original word here'}
    %span =>
    %input#piglatin{type: 'text', placeholder: 'pig latin equivalent will appear here'}
    %input#pig{type: 'button', value: 'Pig!'}



    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
