html, body
{
  height: 100%;
}

#start
{
  top: 10px;
}

#left, #right
{
  float: left;
  height: 100%;
}

#left
{
  width: 80%;
}

#right
{
  width: 20%;
  background-color: gray;
}

#map-canvas
{
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
