tr {
  height: 100px;
  width: 800px;
  border: 1px solid black; }

#add {
  background-color: #5AFFFB; }

#name {
  width: 100px; }

#food {
  width: 100px;
  position: relative;
  left: -30px; }

#controls {
  width: 300px;
  position: relative;
  left: -44px; }

.name {
  padding-left: 30px; }
