/#map-canvas
.row#firstRow
  .small-12.columns
    %input#op1{type: 'text', placeholder: 'number'}
    %input#operator{type: 'text', placeholder: 'operator'}
    %input#op2{type: 'text', placeholder: 'number'}
    %input#calculate.button.small{type: 'button', value: 'calculate'}
    #result
.row
  .small-3.columns
    #history
      %ul
  .small-9.columns