input
{
  float: left;
}

.box
{
  height: 50px;
  width: 50px;
  margin: 10px;
  float: left;
  border: 1px dashed black;
}

#brush
{
  float: left;
  border: 1px dashed black;
  margin-left: 25px;
  height: 50px;
  width: 50px;
  position: relative;
  bottom: 28px;
}

.clear
{
  clear: both;
}

.pixel
{
  height: 5px;
  width: 5px;
  // border: 1px solid black;
  float: left;
  margin: 0;
}

#boxes
{
  width: 1080px;
  border: 1px solid black;
  margin-top: 32px;
}

#addColor
{
  margin-left: 17px;
}

#add_box
{
  margin-left: 17px;
}

h4
{
  position: relative;
  left: 295px;
  bottom: 11px;
}
// #colors
// {
//   width: 1000px;
//   height: 1000px;
// }