.row
  %h1 Shopping
.row
  .small-6.columns
    %input#customer-image{type: 'text', placeholder: 'customer image'}
  .small-6.columns
    %input#customer-name{type: 'text', placeholder: 'customer name'}
.row
  .small-6.columns
    %input#domestic{type: 'radio', name: 'address', value: 'domestic'} Domestic
    %input#international{type: 'radio', name: 'address', value: 'international'} International
  .small-6.columns
    %input#add-customer.button.small.radius{type: 'button', value: 'Add Customer'}
.row
  .small-6.columns
    %input#product-image{type: 'text', placeholder: 'image URL here'}
  .small-6.columns
    %input#product-price{type: 'text', placeholder: 'price'}
.row
  .small-6.columns
    %input#product-name{type: 'text', placeholder: 'product name'}
  .small-6.columns
    %input#product-off{type: 'text', placeholder: 'product off'}
.row
  .small-6.columns
    %input#product-weight{type: 'text', placeholder: 'product weight'}
  .small-6.columns
    %input#add-product.button.small.radius{type: 'button', value: 'Add Product'}
.row
  %table#products
    %tr.headerRow
      %th Name
      %th Image
      %th Weight
      %th Price
      %th % Off
      %th Sale Price
.row
  .small-12.columns#pageRow
    %input#previous.hidden.button.small.radius{type: 'button', value: 'Previous'}
    %input#next.button.small.radius{type: 'button', value: 'Next'}
.row
  .small-3.columns
    %select#select-customer
  .small-9.columns
.row
  .small-12.columns
    %table#cart
      %thead
        %tr
          %th Name
          %th Quantity
          %th Subtotal
          %th Weight
          %th Shipping Cost
          %th Cost with Shipping
      %tbody
      %tfoot
.row
  %input#purchase{type: 'button', value: 'Purchase'}
