.row
  .small-6.columns
    %input#product-image{type: 'text', placeholder: 'image URL here'}
  .small-6.columns
    %input#product-price{type: 'text', placeholder: 'price'}
.row
  .small-6.columns
    %input#product-name{type: 'text', placeholder: 'product name'}
  .small-6.columns
    %input#product-off{type: 'text', placeholder: 'product off'}
.row
  .small-6.columns
    %input#product-weight{type: 'text', placeholder: 'product weight'}
  .small-6.columns
    %input#add-product.button.small.radius{type: 'button', value: 'Add Product'}
.row
  %table#products
    %tr.headerRow
      %th Name
      %th Image
      %th Weight
      %th Price
      %th % Off
      %th Sale Price
.row
  .small-12.columns
    %input#previous.hidden.button.small.radius{type: 'button', value: 'Previous'}
    %input#next.button.small.radius{type: 'button', value: 'Next'}