#buy {
  position: relative;
  top: 16px;
  right: 136px; }

#enterCount {
  width: 88px;
  position: relative;
  right: 62px; }

#enterCountLabel {
  position: relative;
  right: 62px; }

#enterSymbol {
  width: 88px; }

#setBalance {
  position: relative;
  top: 16px;
  right: 18px; }

#displayedBalance {
  position: relative;
  right: 46px; }

#timerInput {
  width: 52px; }

#timerDiv {
  position: relative;
  bottom: 17px; }

#setTimer {
  position: absolute;
  left: 65px;
  top: 17px; }

#totalStocks {
  width: 193px;
  position: relative;
  top: 5px;
  right: 29px; }
