#left
  #map-canvas
#right
  .row
    .small-11.small-offset-1.columns
      %input#start.button.large.success{type: 'button', value: 'Start'}
  .row
    .small-11.small-offset-1.columns
      %input#stop.button.large.alert{type: 'button', value: 'Stop'}