#op1, #operator, #op2
{
  float: left;
}

#op1, #op2
{
  width: 80px;
}

#operator
{
  width: 25px;
  margin-left: 20px;
}

#op2
{
  margin-left: 25px;
}

#calculate
{
  margin-left:18px;
}

h1 span
{
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
}

#result
{
  height: 32px;
  float: left;
  width: 85px;
  position: relative;
  margin-left: 10px;
  border: 1px solid black;
}

#history
{
  border: 1px solid black;
  min-height: 200px;
}

#history ul
{
  list-style-type: none;
}

.op1, .op2
{
  color: green;
}

.operator
{
  color: red;
}

.result
{
  color: orange;
}

.remove
{
  margin-left: 10px;
}

#history > ul > li:nth-child(2n)
{
  background-color: rgb(128, 128, 128);
}

#sumResult, #productResult
{
  width: 100px;
}

label
{
  font-size: 18px;
}


