@import url(http://fonts.googleapis.com/css?family=Prosto+One);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

$brand_font: 'Prosto One', cursive;
$content_font: 'Poiret One', cursive;

$normal_font_size: 12px;