// The order of import statements matters--e.g. must define variables before using them.
// 1st files that declare any variables, then file that defines functions, then others.
@import 'colors';
@import 'fonts';
@import 'functions';
@import 'header';
@import 'nav';
@import 'content';
@import 'footer';

.clear {
  clear: both;
}

#main {
  width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $tesla_red;

  &:hover {
    text-decoration: underline;
    color: desaturate($tesla_red, 50%);
  }
}
