!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Sum of Multiples
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/qunit-theme-gabe.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 Sum of Multiples
    %input#userinput{type: 'text', placeholder: 'enter e.g. "5, 3"'}
    %input#calculate{type: 'button', value: 'Calculate!'}
    %input#output{type: 'text', readonly: 'true'}
    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}
