html, body
{
  height: 100%;
}


#map-canvas
{
  height: 100%;
  //map to fill 100% of its container
  width: 100%;
  border: 1px solid black;
}

#left, #right
{
  float: left;
}


#left
{
  width: 90%;
  height: 100%;
}

#right
{
  width: 10%;
  height: 100%;
  background-color: black;
}

#start, #stop, #erase
{
  position: relative;
  right: 21px;
}

#erase
{
  position: relative;
  top: 10px;
}

#debug
{
  color: white;
}


@media only screen and (max-device-width: 720px) {
  #left
  {
    width: 80%;
    height: 100%;
  }

  #right
  {
    width: 20%;
    height: 100%;
    background-color: black;
  }
}